@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

main {
  flex: 1; 
}
body {
	background-image: linear-gradient(to right, #262a2b 0%, #8b9fa0  51%, #262a2b  100%);
    font-family: Arial, sans-serif;
}

  

header {
	background-color: rgba(11, 31, 57, .6);
  color: #fff;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header h1 {
    margin: 0 20px;
}

header h1 a {
    color: #ffffff; 
    text-decoration: none; 
}

h1,h2,h3{
	color: var(--secundario);
}
h1{
	color: var(--principal);
	font-size:4rem;
}
h2 {
  font-size: 3vw;
}
p{
	font-size: 1.5rem;
}

h3{
  color: #ffffff;
}

footer {
  position: static;
  background-color: rgba(11, 31, 57, .6);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: 3rem;
  color: #2b292c;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer a {
  color: #2b292c;
}

* {
  margin: 0;
  padding: 0;
}




nav {
  margin-top: 10px;
	position: relative;
	width: fit-content;
	height: 50px;
	background-color: #0d0d0e;
	border-radius: 8px;
	font-size: 0;
  justify-content: space-around;
  padding-right: 15px;
}


nav a {
	line-height: 50px;
	height: 100%;
	font-size: 20px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-family: monospace;
}
nav a:hover{
    transform: scale(1.1);
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 95px;
}
a:nth-child(2) {
	width: 95px;
}
a:nth-child(3) {
	width: 95px;
}

a:nth-child(4) {
  width: 95px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: fit-content;
  padding-inline: 45px;
	left: 0%;
	background-color: rgb(104, 85, 224);
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: fit-content;
  padding-inline: 45px;
	left: 19%;
	background-color: #14b6e7;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: fit-content;
  padding-inline: 40px;
	left: 38%;
	background-color: #bc28e9;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: fit-content;
  padding-inline: 56px;
	left: 54%;
	background-color: #d86e18;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: fit-content;
  padding-inline: 67px;
	left: 74%;
	background-color: #e68bfd;
}



.container {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin-top: 10px;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

/* Globales */
*::after,
*::before,
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Lato";
  color: #333;
  min-height: 100vh;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}
.container-cart-icon {
  position: relative;
  text-align: center;
  float: right;
  margin-top: 15px;
  margin-left: 1rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar h1{
  font-size: 5vw;
}

#contador-productos {
  font-size: 12px;
  position:absolute;
}
@media screen and (min-width: 720px){
  .container-cart-products {
    width: 25vw;
    flex-direction: column;
    position: unset;
  }
}
.container-cart-products {
    color: #adadade3;
    background-color: rgba(11, 31, 57, .6);
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    right: 1vw;
    bottom: 30vw;
    position: absolute;
}
.valorObjeto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.simboloMoneda{
  font-size: 1rem;
  margin-right: 2px;
}
.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
  color: #adadade3;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

/* Main */
.container-items {
  margin: 1rem 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-radius: 10px;
  background: linear-gradient(to bottom, #262a2b, #717f80);
  margin: 0.5rem;
  max-width: 350px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}



.item figure {
  overflow: hidden;
  
}

.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-product h2{
  display: flex;
  flex-wrap: wrap;
}
.descripcion p {
  font-size: 1.9vw;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}
/*Conversor de monedas*/
.coinversor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coinversor label {
    display: block;
    font-size: 16px;
    font-weight: 500;
}
select#coinversorMenu {
  display: flex;
  height: fit-content;
}
.coinversor-icon {
  width: 3vw; 
  height: 3vw;
  vertical-align: middle;
}

.coinversor-menu {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 2vw; 
  width: 4vw; 
}

.comvertirPrecio {
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 1rem;
}
.contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.contactanos span{
  margin: 2px 0;
}
/*Login*/
.loginSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.userDatos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
}
.userDatos a{
  text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
  font-family: monospace;
}
/*productosAdd*/
.productosAddMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productosAddMain h2{
  margin-top: 2rem;
}