{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Categorias Add
{% endblock %}

{% block content %}
<div class="productosAddMain">
    <h2>Formulario Categorias</h2>
    <br>
    <div id="idMensajes">
        {% if mensaje %}
            {{ mensaje }}
        {% endif %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table}}
        <input type="submit" name="opcion" value="Agregar">
        <a href="{% url 'crud_categorias' %}">Volver</a>
    </form>
</div>
{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#idMensajes").delay(2000).fadeOut("slow");
    });
</script>
