{% extends 'base.html' %}
{% block titulo %}Hombre{% endblock %}
    {% block content %}

    {% if productos %}
    
      <div class="container-items">
        {% for producto in productos %}
            <div class="item">
              <figure>
                <img src="{{producto.imagen}}" alt="producto">
              </figure>
              <div class="info-product">
                <span class="idProducto hidden">{{producto.id_producto}}</span>
                <h2>{{producto.nombre_producto}}</h2>
                <div class="descripcion">
                  <span>{{producto.desc_producto}}</span></div>
                <div class="valorObjeto">
                  <p class="simboloMoneda">CLP</p>
                  <p class="price">{{producto.precio}}</p>
                </div>
                <button class="btn-add-cart"><a href="{% url 'addtocar' producto.id_producto %}"> Agregar al carrito</a></button>
              </div>
            </div>
          
        {% endfor %}
      </div>
    {% else %}
      <p>No se encontraron productos.</p>
    {% endif %}
      
    {% endblock %}
  </body>
</html>