{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  </head>
  <body>
    <header>
      <div  class="{{ clases.0 }}">
        <h1><a href="index.html">Tienda Ropa</a></h1>
          <nav>
            <ul>
                <a href="{% url 'producto2' %}">Niños</a>
                <a href="{% url 'producto3' %}">Hombre</a>
                <a href="{% url 'producto4' %}">Mujer</a>
                <a href="Contacto.html">Contacto</a>
                <a href="{% url 'registro' %}">Registro</a>
                <a href="comentarios.html">Comentarios</a>
                <div class="{{ clases.1 }} {{ clases.2 }}"></div>
            </ul>
          </nav>
            <div class="{{ clases.3 }}" src="{% static 'images/cart.png' %}" >
                  <img src="{% static 'images/cart.png' %}" alt="Carrito de compras" />
                  <span id="contador-productos">0</span>
            </div>
            <div class="{{ clases.4 }} {{ clases.5 }}">
                  <div class="{{ clases.6 }} {{ clases.26 }}">
                    <div class="{{ clases.7 }}">
                      <div class="{{ clases.8 }}">
                        <span class="{{ clases.9 }}">1</span>
                        <p class="{{ clases.10 }}">Zapatos Nike</p>
                        <span class="{{ clases.11 }}">$80</span>
                      </div>
                    </div>
                  </div>
                  <div class="{{ clases.12 }} {{ clases.26 }}">
                    <h3>Total:</h3>
                    <span class="{{ clases.13 }}">span</span>
                  </div>
                  <p class="{{ clases.14 }}">El carrito está vacío</p>
            </div>
      </div>
  </header>

    <div class="{{ clases.15 }}">
      <div class="{{ clases.16 }}">
        <figure>
          <img
            src="https://st.mngbcn.com/rcs/pics/static/T6/fotos/S6/67090504_94.jpg?ts=1574681709606"
            alt="producto"
          />
        </figure>
        <div class="{{ clases.17 }}">
          <h2>Abrigo Largo</h2>
          <div class="{{ clases.18 }}">
            <p class="{{ clases.19 }}">CLP</p>
            <p class="{{ clases.20 }}">80</p>
          </div>
          <button class="{{ clases.21 }}">Añadir al carrito</button>
        </div>
      </div>
      <div class="{{ clases.16 }}">
        <figure>
          <img
            src="https://ae01.alicdn.com/kf/HTB1LzgTai0TMKJjSZFNq6y_1FXaw/De-Vestir-Para-Suit-Homme-Classique-Pantalon-hombre-Office-Formal-Dress-men-Spring-Autumn-Slim-Fit.jpg"
            alt="producto"
          />
        </figure>
        <div class="{{ clases.17 }}">
          <h2>Pantalon</h2>
          <div class="{{ clases.18 }}">
            <p class="{{ clases.19 }}">CLP</p>
            <p class="{{ clases.20 }}">20</p>
          </div>
          <button class="{{ clases.21 }}">Añadir al carrito</button>
        </div>
      </div>
      <div class="{{ clases.16 }}">
        <figure>
          <img
            src="https://www.bolf.es/data/gfx/pictures/medium/4/3/37134_11.jpg"
            alt="producto"
          />
        </figure>
        <div class="{{ clases.17 }}">
          <h2>Camisa</h2>
          <div class="{{ clases.18 }}">
            <p class="{{ clases.19 }}">CLP</p>
            <p class="{{ clases.20 }}">140000</p>
          </div>
          <button class="{{ clases.21 }}">Añadir al carrito</button>
        </div>
      </div>
      <footer>
        <!--Menu de conversor de monedas-->
        <div class="{{ clases.22 }}">
          <label for="coinversorMenu">
            <svg xmlns="http://www.w3.org/2000/svg" class="{{ clases.23 }}" width="84" height="84" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75" />
            <path d="M12 7v2" />
            <path d="M12 15v2" />
          </svg></label>
          <select name="coinversorMenu" id="coinversorMenu">
            <option value="0">Peso Chileno</option>
            <option value="1">Dollar</option>
            <option value="2">Euro</option>
          </select>
          <button class="{{ clases.24 }}" onclick="coinversor();">Convertir Precios</button>
        </div>
      </footer>
      <script src="{% static 'js/Carrito/index.js' %}"></script>
      <script src="{% static 'js/APIs/conversorMonedas.js' %}"></script>
  </body>
</html>
