{% extends 'base.html' %}
{% load static %}

{% block titulo %}Productos Edit{% endblock %}

{% block content %}
    <div class="productosAddMain">
        {% if producto %}
            <h2>Formulario Actualizar Producto</h2>
            <br>
            <div id="idMensajes">
                {% if mensaje %}
                    {{ mensaje }}
                {% endif %}
            </div>
            <form action="{% url 'productosUpdate' %}" method="post">
                {% csrf_token %}
                <pre>id_producto: <input type="number" name="id_producto" value="{{ producto.id_producto }}"></pre>
                <pre>Nombre Producto: <input type="text" name="nombre_producto" value="{{ producto.nombre_producto }}"> </pre>
                <pre>Precio: <input type="number" name="precio" value="{{ producto.precio }}"></pre>
                <pre>Desc Producto: <input type="text" name="desc_producto" value="{{ producto.desc_producto }}"> </pre>
                <pre>Imagen: <input type="text" name="imagen" value="{{ producto.imagen }}"> </pre>
                <pre>Categoria:
                    <select name="id_categoria">
                        {% for categoria in categorias %}
                            {% if categoria.id_categoria == producto.id_categoria %}
                                <option value="{{ categoria.id_categoria }}" selected>{{ categoria.id_categoria }}-{{ categoria.categoria }}</option>
                            {% else %}
                                <option value="{{ categoria.id_categoria }}">{{ categoria.id_categoria }}-{{ categoria.categoria }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </pre>
                <input type="submit" name="opcion" value="Actualizar">
                <a href="{% url 'editor' %}">Volver</a>
            </form>
            
        {% else %}
            <p>No se encontró el producto.</p>
        {% endif %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#idMensajes").delay(2000).fadeOut("slow");
            })
        </script>
{% endblock %}
