{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Registro de usuario{% endblock %}

{% block content %}
<section class="loginSection">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.username|as_crispy_field }}
    {{ form.first_name|as_crispy_field }}
    {{ form.last_name|as_crispy_field }}
    {{ form.email|as_crispy_field }}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}
    <div class="campo">
      <input class="boton w-100" type="submit" value="Registrarse">
    </div>
  </form>
</section>
{% endblock %}
