{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylec.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleEditor.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body>
    <header>
        <div  class="navbar">
          <h1><a href="{% url 'producto2' %}">Tienda Ropa</a></h1>
            <nav>
              <ul>
                  <a class="navbarlink" href="{% url 'producto2' %}">Niños</a>
                  <a class="navbarlink" href="{% url 'producto3' %}">Hombre</a>
                  <a class="navbarlink" href="{% url 'producto4' %}">Mujer</a>
                  <a class="navbarlink" href="{% url 'login' %}">Login</a>
                  <a class="navbarlink" href="{% url 'registro' %}">Registro</a>
                  <div class="animation start-home"></div>
              </ul>
            </nav>
              <div class="container-cart-icon" src="{% static 'images/cart.png' %}" >
                <a href="{% url 'carro' %}"><img src="{% static 'images/cart.png' %}" alt="Carrito de compras" /></a>
                    
              </div>
              
              <div class="userDatos">
                {% if user.is_authenticated %}
                      {{user.username}}
                      <div class="editor" data-editor-url="{% url 'editor' %}">
                      </div>
                      <div class="userStaff hidden">
                      {{user.is_staff}}
                      </div>
                      {% csrf_token %}
                      <a href="{% url 'logout' %}">Cerrar Sesion</a>

                {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registro' %}">Registro</a>

                {% endif %}
              </div>
        </div>
       
    </header>
    {% block content %}{% endblock %}
    <footer>
        <!--Menu de conversor de monedas-->
        <div class="coinversor">
          <label for="coinversorMenu">
            <svg xmlns="http://www.w3.org/2000/svg" class="coinversor-icon" width="84" height="84" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M13.867 9.75c-.246 -.48 -.708 -.769 -1.2 -.75h-1.334c-.736 0 -1.333 .67 -1.333 1.5c0 .827 .597 1.499 1.333 1.499h1.334c.736 0 1.333 .671 1.333 1.5c0 .828 -.597 1.499 -1.333 1.499h-1.334c-.492 .019 -.954 -.27 -1.2 -.75" />
            <path d="M12 7v2" />
            <path d="M12 15v2" />
          </svg></label>
          <select name="coinversorMenu" id="coinversorMenu">
            <option value="0">Peso Chileno</option>
            <option value="1">Dollar</option>
            <option value="2">Euro</option>
          </select>
          <button class="comvertirPrecio" onclick="coinversor();">Convertir Precios</button>
        
        </div>
        <div class="contactanos">
          <h2>Contactanos</h2>
          <span>Fono: +56 9 99885513</span>
          <span>Email: Tienda2024@gmail.com</span>
          <span>calle: Serrano 607, Melipilla</span>
        </div>
    </footer>
    <script src="{% static 'js/APIs/conversorMonedas.js' %}"></script>
    <script src="{% static 'js/Validaciones/validarAdmin.js' %}"></script>
    
</body>
</html>
